<!DOCTYPE html>

<html>
<div id="content"></div>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            padding-top: 5px;
        }

        .container {
          position: relative;
          
          width: 100%;
          margin: 0 auto;
        }

        .card-columns {
          -webkit-column-count: 3; /*Выставляем кол-во колонок*/
          -moz-column-count: 3; /*Выставляем кол-во колонок*/
          column-count: 3; /*Выставляем кол-во колонок*/
          -webkit-column-gap: 15px; /*Отступы между колонками*/
          -moz-column-gap: 15px; /*Отступы между колонками*/
          column-gap: 15px; /*Отступы между колонками*/
          orphans: 1; /*минимальное число строк в блочном контейнере*/
          widows: 1; /*минимальное количество линий на странице*/
        }

        .card {
          overflow: hidden;
          position: relative;
          display: inline-block;
          width: 100%;

          word-wrap: break-word;
          border-radius: 8px;
          margin-bottom: 10px;
        }

        .card-reveal .card-body {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 100%;
          text-align: center;
          height: 100%;
          bottom: -100%;
          -webkit-transition: bottom .2s ease-in-out;
          transition: bottom .2s ease-in-out;
        }

        .card-reveal .card-img-top {
          -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
          transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
        }

        .card-reveal:hover .card-body {
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.7);
        }

        .card-reveal:hover .card-img-top {
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
        }

        .card-reveal .card-body .card-title {
          font-size: 3.0rem;
          margin: 0;
          text-transform: uppercase;
          font-weight: bolder;
          color: #fff;
        }

        .label {
            border-radius: 0;
        }


    </style>
    
</head>
<body>



    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-light" aria-current="page" href="~/Home/Index">Главная</a>
            <a class="p-2 text-light" href="~/Add/EditNews">Добавление новости</a>
            <a class="p-2 text-light" href="~/Add/Add">Удаление новости</a>
            <a class="p-2 text-light" href="~/Category/Cat">Категории новостей</a>
        </nav>
    </header>
    <div style="padding:75px">
        @RenderBody()

    </div>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
