@model NewsSite.Data.Models.News



            <div class="container">
                    <a class="card card-reveal" href="#">
                        <img class="card-img-top" src="@Model.img"  alt="@Model.name" />
                        <div class="card-body">
                            <div class="card-title">@Model.Desc</div>
                        </div>
                    </a>

            </div>
      
      

